/**
 * Copyright © Pronko Consulting (https://www.pronkoconsulting.com)
 * See LICENSE for license details.
 */
.config-nav-block.pronko-tab {
    strong {
        &:before {
            background: url('@{baseDir}Pronko_Core/images/pronkoconsulting-icon.svg') no-repeat;
            width: 18px;
            height: 18px;
            content: '';
            display: inline-block;
            margin-right: 8px;
            vertical-align: bottom;
        }
    }
}
